.App {
  height: 100vh;
  /* background-image: url("components/layout/background.jpg");
  background-repeat: no-repeat; 
   background-size: cover; */

  background-color: rgb(50, 53, 56);
}
body,
html {
  height: 100%;
}

/* NAVBAR */
.navbar {
  background-color: aquamarine;
  font-size: 3vh;
  width: 100%;
  font-family: Aclonica;
  li {
    display: inline-block;
  }
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
.link {
  display: inline-block;
  text-shadow: 2px 2px 4px #111111;
  color: rgb(187, 205, 216);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  &:hover {
    color: #111;
    text-shadow: 2px 2px 4px #000000;
  }
}
.home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin: 20px;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
  }
  h1 {
    font-size: 4vh;
  }
  h2 {
    font-size: 3vh;
  }
}

@media screen and (max-width: 600px) {
  .navbar li {
    display: block;
  }
  .centered {
    flex-direction: column-reverse;
  }
}
